In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [9]:
data = {
        'Item': ['shirt','jeans','dress','t-shirt','skirt'],
        'Color':['blue','black','yellow','red','white'],
        'Size': ['medium','large','small','medium','large']
}

In [11]:
df=pd.DataFrame(data)
df

      Item   Color    Size
0    shirt    blue  medium
1    jeans   black   large
2    dress  yellow   small
3  t-shirt     red  medium
4    skirt   white   large

In [14]:
encoder = LabelEncoder()

In [16]:
#categorical form into new numerical form for that
df['Encoded_Size'] =  encoder.fit_transform(df['Size'])
df

      Item   Color    Size  Encoded_Size
0    shirt    blue  medium             1
1    jeans   black   large             0
2    dress  yellow   small             2
3  t-shirt     red  medium             1
4    skirt   white   large             0