In [10]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [11]:
data={
    'fruit': ['apple','orange','pineapple','chikku','banana'],
    'color': ['red','orange','yellow','green','yellow']
}

In [12]:
df=pd.DataFrame(data)

In [13]:
encoder=OneHotEncoder()

In [21]:
encoded_colors = encoder.fit_transform(df[['color']]).toarray()

In [29]:
encoded_df =pd.DataFrame(encoded_colors, columns= encoder.get_feature_names_out(['color']))

In [30]:
df_encoded = pd.concat([df, encoded_df], axis=1)

In [31]:
df_encoded

       fruit   color  color_green  color_orange  color_red  color_yellow
0      apple     red          0.0           0.0        1.0           0.0
1     orange  orange          0.0           1.0        0.0           0.0
2  pineapple  yellow          0.0           0.0        0.0           1.0
3     chikku   green          1.0           0.0        0.0           0.0
4     banana  yellow          0.0           0.0        0.0           1.0